@using Modules.Resources
@using Logic.Common.Models
@model NewsModel
<div class="modal-header">
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Add</h2>
    </div>
</div>
<div class="modal-body">
    <input type="file" nv-file-select uploader="uploader" /><br />
    <ul>
        <li ng-repeat="item in uploader.queue">
            Name: <span ng-bind="item.file.name"></span><br />
            <button ng-click="item.upload()">upload</button>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
</div>
