@model Logic.Common.Models.PageModel
@{
    ViewBag.Title = "Show";
}
<div class="well kentico-color">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>@Model.Name</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>@Html.Raw(Model.Content)</h2>
        </div>
    </div>
</div>

