@using Modules.Resources
@Scripts.Render("~/bundles/serviceType")
<div ng-controller="ServiceTypeController">
    @Html.Partial("Menu")
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Presentation.Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="type in serviceTypes track by type.Id" ng-click="select($index)" ng-class="{'selected':selectedType.Id==type.Id}" class="selectable">
                        <td ng-bind="type.Name"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>