@using Modules.Resources
@Scripts.Render("~/bundles/popUps")
@{
    ViewBag.Title = Presentation.PopUp;
}
<div ng-controller="PopUpController">
    @Html.Partial("Menu")
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped kentico-color">
                <thead>
                    <tr>
                        <th>
                            @Presentation.Title
                        </th>
                        <th class="text-center">
                            @Presentation.Active
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="popUp in model.PopUps">
                        <td ng-bind="popUp.Title"></td>
                        <td><input ng-model="popUp.Active" type="checkbox" ng-change="activatePopUp(popUp)" class="form-control"/>
                        <td class="text-center">
                            <a ng-click="edit(popUp)"><span class="glyphicon glyphicon-edit text-success"></span></a>
                            <a ng-click="delete(popUp)"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>