@using Modules.Resources
@using Newtonsoft.Json
@model List<global::Logic.Common.Models.NewsModel>
@{
    ViewBag.Title = Presentation.MainSite;
    var showPopup = HttpContext.Current.Session["ShowPopUp"];
}
@Scripts.Render("~/bundles/popup")
@Scripts.Render("~/bundles/news")
<div ng-controller="PopupController" ng-init="showPopup = @JsonConvert.SerializeObject(showPopup)">
</div>
<div ng-controller="NewsController">
    <div class="well kentico-color" ng-repeat="news in newses">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 ng-bind="news.Title"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 ng-bind-html="trusted(news.Content)"></h4>
            </div>
        </div>
        <div class="readMoreLink"><a href="#" ng-click="goTo(news)">@Presentation.ReadMore</a></div>
    </div>
    <nav>
        <ul class="pagination pagination-lg">
            <li><a href="#" aria-label="Previous" ng-click="first()"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-repeat="i in getPageNumber() track by $index" ng-click="changePage(i)" ng-class="(i == page) ? 'active':''"><span ng-bind="i"></span></li>
            <li><a href="#" aria-label="Next" ng-click="last()"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
