@using Modules.Resources
@model List<global::Logic.Common.Models.NewsModel>
@{
    ViewBag.Title = Presentation.MainSite;
}

@foreach (var news in @Model)
{
    <div class="well kentico-color">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>@news.Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>@Html.Raw(@news.Content)</h4>
            </div>
        </div>
        <div class="readMoreLink">@Html.ActionLink(Presentation.ReadMore, "Show", "News",new {id=@news.Id},null)</div>
    </div>
}
