@using Modules.Resources
@{
    Layout = null;
}
<div ng-controller="ExternalLinkController">
    <div class="form-group form-field row">
        <div class="col-md-3">
            <label class="control-label">@Presentation.Url</label>
        </div>
        <div class="col-md-9"><input type="text" ng-model="url" class="form-control" local-link-picker="id"></div>
    </div>
</div>