@using Modules.Resources
@{
    ViewBag.Title = "Add";
}

<div class="modal-header">
    Wstawka!!!!
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Add</h2>
    </div>
</div>
<div class="modal-body">
    <div class="form-group form-field row">
        <div class="col-md-3"><label class="control-label">@Presentation.Type</label></div>
        <select ng-model="choosedInset" ng-options="inset.LocalizedName for inset in avaiableInsets" ng-change="changeInsetType()"></select>
    </div>
    <div id="insetPartContainer" class="animate-show" ng-hide="processing"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="send()">@Presentation.Add</button>
    <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
</div>
