html, body, .container {
    height: 100%;
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.animate-show {
    line-height: 20px;
    opacity: 1;
}

    .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
        transition: all linear 0.5s;
    }

    .animate-show.ng-hide {
        line-height: 0;
        opacity: 0;
        padding: 0 10px;
    }

#loaderDiv {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    opacity: .6;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
    width: 50px;
    height: 50px;
}

#wrapper {
    margin-top: 50px;
}

.white {
    color: white;
}

.glyphicon-button:hover {
    opacity: 0.8;
}

.glyphicon-button:link {
    background: transparent;
    text-decoration: none;
}

.phases-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

    .phases-container .phase-container {
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #CAE0FC;
        padding: 10px 15px;
    }

.phase-container .handle {
    float: left;
    cursor: move;
    margin-left: -20px;
    margin-right: 10px;
}

[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #000000;
    min-height: 3px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 10px;
}

.phase-buttons {
}

.table-hover tbody tr {
    cursor: pointer;
}

    .table-hover tbody tr.selectable.selected {
        background-color: #3cb371;
    }

.add-button-container {
    margin-bottom: 10px;
}

.calendar td .fc-widget-content {
}

    .calendar td .fc-widget-content:not(.fc-time):hover {
        cursor: pointer;
        background-color: #00bfff;
    }

.modal-xlg {
    min-width: 1200px;
}

.ta-root {
    font-family: FontAwsome;
}

.ta-toolbar {
    padding: 10px 10px 5px;
    margin-left: 0px;
    border: 1px solid #EEE;
    background-color: #F0F0F0;
}

    .ta-toolbar .btn-group {
        margin-top: 3px;
    }

.ta-root .inset {
    font-family: FontAwesome;
    font-size: 0px;
}

    .ta-root .inset:before {
        color: #00bfff;
        font-size: 14px;
    }


    .ta-root .inset.localLink:before {
        content: "\f0c1 Local link";
    }

    .ta-root .inset.externalLink:before {
        content: "\f08e External link";
    }

.category-box {
    margin-right: 20px;
    float: left;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}
.categories-container {
    margin-top: 20px;
}
 .button-box {
    margin: 10px;
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
    border: 1px solid #dae2ea;
    padding: 10px 10px;
}
.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
