@{
    Layout = null;
}
@using Modules.Resources
<div class="navbar navbar-inverse">
    <div class="navbar-brand">@Presentation.News</div>
    <div class="btn btn-default navbar-btn" ng-click="add()">@Presentation.Add</div>
    <div class="btn btn-default navbar-btn" ng-disabled="selectedNews == null" ng-click="edit(selectedNews)">@Presentation.Edit</div>
    <div class="btn btn-default navbar-btn" ng-disabled="selectedNews == null" ng-click="delete(selectedNews)">@Presentation.Delete</div>
</div>