@using Modules.Resources
<div class="modal-header">
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Add</h2>
    </div>
</div>
<div class="modal-body">
 
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="send()">@Presentation.Add</button>
    <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
</div>
