@using Modules.Resources
@using Logic.Common.Models
@model NewsModel
<div class="modal-header">
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Add</h2>
    </div>
</div>
<div class="modal-body">
    <div class="form-group form-field row">
        <div class="col-md-3"><label class="control-label">@Presentation.Title</label>
        </div>
        <div class="col-md-9"><input class="form-control" ng-model="news.Title" ng-inset-model="news.Title" ng-inset />
        </div>
    </div>
    @*inset-model="news.Title"*@ 
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="send()">@Presentation.Add</button>
    <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
</div>
