@{
    ViewBag.Title = "Index";
}
@*@Scripts.Render("~/bundles/calendar")*@
@Scripts.Render("~/bundles/services")
<div ng-controller="ServicesController" style="max-width: 500px">
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="serviceCalendar"></div> 
</div>