@using Modules.Resources
@{
    ViewBag.Title = "Welcome";
}

<div class="tile-container col-lg-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-newspaper-o fa-tile"></span></p>
                <p><span class="tile-title">@Presentation.News</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-database fa-tile"></span></p>
                <p><span class="tile-title">File</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-sitemap fa-tile"></span></p>
                <p><span class="tile-title">File</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-files-o fa-tile"></span></p>
                <p><span class="tile-title">Pages</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-users fa-tile"></span></p>
                <p><span class="tile-title">Service providers</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-shopping-bag fa-tile"></span></p>
                <p><span class="tile-title">Services</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-puzzle-piece fa-tile"></span></p>
                <p><span class="tile-title">Service types</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-line-chart fa-tile"></span></p>
                <p><span class="tile-title">Statistics</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-cogs fa-tile"></span></p>
                <p><span class="tile-title">Settings</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-envelope fa-tile"></span></p>
                <p><span class="tile-title">Newsletter</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile text-center">
                <p><span class="fa fa-exclamation fa-tile"></span></p>
                <p><span class="tile-title">Pop-up</span></p>
                <div class="tile-footer"></div>
            </div>
        </div>

    </div>
</div>
