@using Modules.Resources
@Scripts.Render("~/bundles/menu")
<script type="text/ng-template" id="nodes_renderer.html">
    <a href="{{'/Page/Show/' + node.Page.Id}}"  ng-bind="node.Content" ng-if="node.Page!=null"></a>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-bind="node.Content" ng-if="node.Page==null"></a>
    <ul class="dropdown-menu" ng-if="node.Children.length > 0">
        <li ng-repeat="node in node.Children" ng-include="'nodes_renderer.html' " class="" ng-class="{'dropdown-submenu' : node.Children.length > 0}">
        </li>
    </ul>


</script>

<div ng-controller="MenuController">
    <nav class="navbar kentico-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" ng-bind="model.CompanyName"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-model="model.Buttons">
                    <li ng-repeat="rootButton in model.Buttons">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="rootButton.Content"></span><b class="caret" ng-if="rootButton.Children.length > 0"></b></a>
                        <ul class="dropdown-menu multi-level" ng-if="rootButton.Children.length > 0">
                            <li ng-repeat="node in rootButton.Children" ng-include="'nodes_renderer.html'" class="" ng-class="{'dropdown-submenu' : node.Children.length > 0}"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    
</div>