@using Modules.Resources
@{
    ViewBag.Title = "Index";
}



@*@Scripts.Render("~/bundles/calendar")*@
@Scripts.Render("~/bundles/services")
<div class="row" ng-controller="ServicesController">
    <div class="alert alert-danger alert-dismissible ninja" role="alert" ng-class="(result != null && !result.success) ? 'show' : ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@Presentation.Error!</strong><span ng-bind="result.message"></span>
    </div>


    <div class="alert alert-success alert-dismissible ninja" role="alert" ng-class="(result.success) ? 'show' : '' ">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@Presentation.WellDone.</strong><span ng-bind="result.message"></span>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div style="max-width: 500px">
            <div style="margin-bottom: 10px">
                <select ng-model="provider" ng-options="prov.Name for prov in providers" ng-change="providerChange()" class="form-control"></select>
            </div>
            <div ui-calendar="uiConfig.calendar" class="span8 client-calendar calendar" ng-model="eventSources" calendar="serviceCalendar"></div>
        </div>
    </div>
</div>
